/**
 * 404 Page CSS
 * ---
 */

#post-404 {
    text-align: center;
    position: relative;
    background: #fff;

    .img-center {
        position: relative;
        top: 60px;
        img {
            width: 100%;
        }
    }
    .wrap-text {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 30%;
    }
    h1 {
        color: $white-color;
        font-size: 64px;
    }
    h2 {
        color: $grey-light;
        font-size: 32px;
    }
    p {
        font-size: 22px;
        color: $grey-lighter;
    }
    .search {
        display: inline-block;
        label {
            float: left;
        }
        input {
            display: inline-block;
            width: 300px;
            height: 40px;
            outline: none;
            font-size: 16px;
            padding-left: 10px;
            border: none;
            border-radius: 3px 0 0 3px;
            font-weight: 300;
            letter-spacing: 0.02em;
            vertical-align: middle;
        }
        button {
            display: inline-block;
            text-decoration: none;
            outline: none;
            height: 40px;
            line-height: 40px;
            width: 50px;
            background: $white-color;
            border-radius: 0 3px 3px 0;
            transition: all 0.2s ease;
            color: $blue-light;
            border: none;
            margin: 0 0 0 -4px;
            border-left: 1px solid $blue-darker;
            vertical-align: middle;
            &:hover {
                color: $white-color;
                background: $blue-darker;
                transition: all 0.2s ease;
            }
            span {
                font-size: 22px;
            }
        }
    }
    h3 {
        color: $white-color;
        i {
            font-size: 20px;
            vertical-align: bottom;
            color: $white-color;
            margin-right: 5px;
        }
        a {
            color: $white-color;
        }
    }

}

@media all and (max-width: 819px) {
    #post-404 {
        background: $blue-light;
        .img-center {
            display: none;
        }

        .wrap-text {
            position: relative;
        }

    }
}
