/**
 * partials/sidebar
 * ---
 */


.sidebar {
	&.single {
	//== section title
		.sectionTitle {
		    margin: 0;
		    width: 100%;
		    .title {
				padding: 8px 14px;
				line-height: 18px;
				display: inline-block;
				background-color: #47b0ed;
				font-size: 13px;
				margin: 0;
				text-transform: uppercase;
				font-weight: 500;
				letter-spacing: 0.03em;
		    }
		}
	}
	.categories {
		margin: 0 0 30px 0;
		li {
			a {
				transition: all 0.2s ease;
				line-height: 35px;
			    font-weight: 400;
			    color: #aaa;
			    border-bottom: 1px dotted #aaa;
			    display: block;
			    padding: 0 0 0 5px;
			    cursor: pointer;
			    &:hover {
					transition: all 0.2s ease;
					color: #111;
			    }
			}
		}
	}
	.tags {
		text-align: left;
		margin-top: 20px;
		li {
			margin: 0 10px 10px 0;
			display: inline-block;
			a {
				border: 1px solid #aaa;
				border-radius: 25px;
				line-height: 25px;
				padding: 0 7px;
				display: block;
				text-transform: capitalize;
				font-size: 12px;
				transition: all 0.2s ease;
				&:hover {
					background: #333946;
					border-color: #333946;
					color: #fff;
					transition: all 0.2s ease;
				}
				&.active {
					background: #47b0ed;
					border-color: #47b0ed;
					color: #fff;
					transition: all 0.2s ease;
				}
			}
		}
	}
	.recent_gallery {
		li {
			width: 33%;
			float: left;
			a {
				display: block;
				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}
	.side-gallery {
		margin-top: 40px;
	}
}


#wdi_feed_0_users {
        display: none;
      }
      #wdi_feed_0 .wdi_feed_wrapper {
          background-color: #26272b;
      }

      #wdi_feed_0 .wdi_feed_container {
          width: 100%;
          background-color: #26272b;
          border: none;
      }
      #wdi_feed_0 .wdi_photo_wrap_inner {
          border: none;
          background-color: #26272b;
          padding: 5px;
      }
