//==Get Google Fonts
//
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

//== Body
//
html,
body {
	color: $grey-darker;
	font-family: $font-family;
	font-size: $base-font-size;
	font-weight: $base-font-weight;
	height: 100%;
	width: 100%;
	line-height: $base-line-height;
	margin: 0;
	padding: 0;
	text-rendering: optimizelegibility;
	background: #f2f2f2;
	overflow-x: hidden;
}

//== Links
//
a, a:hover, a:focus {
	outline: none;
	text-decoration: none;
}

a {
	color: $link;

	&:hover {
		color: $blue-light;
	}
}

b, strong {
	font-weight: bold;
}

i, cite, em, var, address, dfn {
    font-style: italic;
}

p {
	margin: 0 0 15px;
}
// clearfix: http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}
//== Width
.autoWidth {
	width: auto;
}
.reset-box {
  @include reset-box;
}
//== Cursor
.noCursor {
	cursor: default !important;
}
//== Padding
.pY20 {
	padding: 20px 0;
}
.pX20 {
	padding: 0 20px;
}
.pY40 {
	padding: 40px 0;
}
.pX40 {
	padding: 0 40px;
}

//== Button Read More

.readmore {
	border: 1px solid #888;
	padding: 4px 12px;
	color: #888;
	z-index: 1;
	text-transform: uppercase;
	font-size: 10px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	background: none;

	&:hover {
		transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		background: #47b0ed;
		border-color: #47b0ed;
		color: #fff;
	}
}

//== Thumbs
.thumbHolder {
	position: relative;
	display: block;
}
.thumbShadow {
	position: absolute;
    width: 100%;
    bottom: 0;
    padding: 15px 15px 10px 15px;
    z-index: 100;
   	transition: all 0.2s ease;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0)0,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0)0,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='rgba(0, 0, 0, 1)', GradientType=0);
}
.thumb {
	width: 100%;
	height: auto;
   	transition: all 0.2s ease;
	-webkit-transition: all 1s ease; /* Safari and Chrome */
	   -moz-transition: all 1s ease; /* Firefox */
	    -ms-transition: all 1s ease; /* IE 9 */
	     -o-transition: all 1s ease; /* Opera */
	        transition: all 1s ease;
}
.thumbCategory {
	display: block;
    background-color: #47b0ed;
    padding: 3px 8px;
    font-size: 9px;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 2px;
    color: #fff;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-decoration: none!important;
    outline: 0!important;
}
.thumbTitle {
	color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-weight: 400;
    font-size: 13px;
    display: block;
}

//== Content header

.cnt-header {
	text-align: left;
	position: relative;
	padding-bottom: 20px;
}

.cnt-title {
	position: relative;
}

.cnt-title h3 {
	position: relative;
	z-index: 1;
	font-size: 14px;
	word-spacing: 2px;
	margin: 0;
	text-transform: uppercase;
	color: $head-text;
	font-weight: 700!important;
	display: inline-block;
	padding-bottom: 8px;
	padding-right: 2px;
	border-bottom: 2px solid $blue-light;
}

.cnt-title:after {
	position: absolute;
	content: '';
	width: 100%;
	bottom: 0;
	left: 0;
	border-bottom: 2px solid $grey-dark;
	z-index: 0;
}

//== First section - Home Page
.first-section {
	.column {
		padding: 2px;
	}
	.thumbHolder {
		&:hover > .thumb {
			-webkit-transform:scale(1.1); /* Safari and Chrome */
			   -moz-transform:scale(1.1); /* Firefox */
				-ms-transform:scale(1.1); /* IE 9 */
				 -o-transform:scale(1.1); /* Opera */
		 			transform:scale(1.1);
		}
	}
	.top {
		a.thumbHolder {
			overflow: hidden;
			max-height: 250px;


		}
	}
	.bottom {
		a.thumbHolder {
			overflow: hidden;
		    height: 195px;
		    padding: 0;
		    margin: 2px;
		    width: calc(25% - 4px);
			.thumbTitle {
				font-size: 12px;
			}
		}
	}
}
//== Second section - Home Page
.second-section {
    margin-bottom: 20px;
    .col-sm-12 {
        background-color: $white-color;
        -webkit-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.15);
        -moz-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.15);
        -ms-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.15);
        box-shadow: 0 3px 4px 0 rgba(0,0,0,0.15);
        -webkit-border-radius: 4px 4px 4px 4px;
        -moz-border-radius: 4px 4px 4px 4px;
        -ms-border-radius: 4px 4px 4px 4px;
        border-radius: 4px 4px 4px 4px;
        padding-bottom: 30px;
    }
	.thumbCategory {
		position: absolute;
		left: 5px;
		top: 30px;
	}
	.column {
		padding: 0 5px;
		&:first-child {
			padding-left: 0;
			.thumbCategory {
				left: 0px;
			}
		}
		&:last-child {
			padding-right: 0;
		}
	}
	img {
		width: 100%;
		height: 200px
	}
	.cnt {
		position: relative;
		margin-top: -50px;
		width: calc(100% - 30px);
		left: 18px;
		background: #fff;
		padding: 15px 15px 25px 15px;
		border-bottom: 4px solid #333946;
		p {
			color: #aaa;
	    	font-size: 12px;
	    	margin: 8px 0 15px 0;
		}
		button {
			border: 1px solid #888;
		    padding: 4px 12px;
		    color: #888;
		    z-index: 1;
		    text-transform: uppercase;
		    font-size: 10px;
		    transition: all 0.2s ease-in-out;
		    -webkit-transition: all 0.2s ease-in-out;
		    background: none;

		    &:hover {
			    transition: all 0.2s ease-in-out;
			    -webkit-transition: all 0.2s ease-in-out;
			    background: #47b0ed;
			    border-color: #47b0ed;
		    	color: #fff;
		    }
		}
	}
	.thumbTitle {
		color: #111;
		font-size: 16px;
		font-weight: 500;
		text-transform: capitalize;
		margin-bottom: 15px;
		height: 50px;
	}
	.getAuthor {
		color: #aaa;
    	font-size: 11px;
		span {
			color: #47b0ed;
		}
	}
	.postTime {
		color: #aaa;
    	font-size: 11px;
	}
}
//== Section Title
.sectionTitle {
	background: #333946;
	color: #fff;
	margin: 0 -15px 40px -15px;
	width: calc(100% + 30px);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
	.title {
	    padding: 8px 16px;
		line-height: 25px;
		display: inline-block;
	    background-color: #47b0ed;
	    font-size: 14px;
	    margin: 0;
	    text-transform: uppercase;
	    font-weight: 500;
	    letter-spacing: 0.03em;
	}
}

//== Third Section
.third-section {
    margin-bottom: 20px;
	.flex {
		width: 100%;
	    height: auto;
	    display: -webkit-flex; /* Safari */
	    -webkit-align-items: center; /* Safari 7.0+ */
	    display: flex;
	    align-items: center;
        padding: 0 15px 0 15px;
	    div {
			-webkit-flex: 1; /* Safari 6.1+ */
	   		flex: 1;
	   		margin-bottom: 20px;
	   		&:first-child {
	   			flex-grow: 0;
	   		}
	   		&:last-child {
	   			padding-left: 15px;
	   			align-self: flex-start;
	   		}
	   		a.img {
	   			width: 130px;
	   			overflow: hidden;
    			display: block;
	   			img {
	   				min-width: 100%;
	   			}
	   		}
	   		.title {
	   			display: block;
	   			font-size: 15px;
			    margin: 0 0 8px 0;
			    color: #111;
			    font-weight: 500;
			    letter-spacing: 0.03em;
			    &:hover {
			    	color: #47b0ed;
			    }
	   		}
	   		span {
	   			text-transform: uppercase;
			    color: #aaa;
			    font-size: 11px;
			    font-weight: 400;
			    a {
			    	color: #47b0ed;
			    }
	   		}
	    }
	}
	.container {
		/*padding: 0;*/
	}
	.col-sm-4 {
		padding-left: 30px;
        padding-right: 0px;
		.sectionTitle {
            margin: 0 -15px 40px 0px;
			width: 100%;
			ul {
				li {
					display: inline-block;
					a {
						padding: 8px 16px;
						line-height: 25px;
						display: inline-block;
					    font-size: 12px;
					    margin: 0;
					    cursor: pointer;
					    text-transform: uppercase;
					    font-weight: 500;
					    letter-spacing: 0.03em;
					    color: #fff;
   						transition: all 0.2s ease;
					    &.active {
					    	background-color: #47b0ed;
					    }
					    &:hover {
					    	background-color: #47b0ed;
						   	transition: all 0.2s ease;
					    }
					}
				}
			}
		}
	}
    .col-sm-8.column {
        background-color: $white-color;
        -webkit-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.15);
        -moz-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.15);
        -ms-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.15);
        box-shadow: 0 3px 4px 0 rgba(0,0,0,0.15);
        -webkit-border-radius: 4px 4px 4px 4px;
        -moz-border-radius: 4px 4px 4px 4px;
        -ms-border-radius: 4px 4px 4px 4px;
        border-radius: 4px 4px 4px 4px;
    }
	.col-sm-8.column .thumbHolder {
		width: calc(100% + 30px);
		margin-left: -15px;
	}
	.imgHolder {
		/*width: 100%;
		height: auto;
		position: relative;*/
		img {
			width: 100%;
			height: 200px;
		}
		.thumbCategory {
			position: absolute;
			top: 30px;
			left: 0;
		}
	}
	.cnt {
		position: relative;
    	/*width: calc(100% - 60px);*/
    	padding: 0 15px 15px 15px;
		text-align: left;

		header {
		    text-transform: uppercase;
		    color: #aaa;
		    font-size: 11px;
		    margin-bottom: 25px;
		    a {
		    	color: #47b0ed;
		    }
		}
		.textCnt {
			.thumbTitle {
				margin-top: 0;
			    margin-bottom: 16px;
			    font-size: 22px;
			    line-height: 1.2;
			    color: #111;
			}
			p {
				margin-bottom: 24px;
			    font-size: 14px;
			    line-height: 1.2;
			    color: #111;
			}
			button {
				border: 1px solid #888;
			    padding: 4px 12px;
			    color: #888;
			    z-index: 1;
			    text-transform: uppercase;
			    font-size: 10px;
			    transition: all 0.2s ease-in-out;
			    -webkit-transition: all 0.2s ease-in-out;
			    background: none;
			    margin-bottom: 40px;

			    &:hover {
				    transition: all 0.2s ease-in-out;
				    -webkit-transition: all 0.2s ease-in-out;
				    background: #47b0ed;
				    border-color: #47b0ed;
			    	color: #fff;
			    }
			}
		}
	}

}
//== Sidebar

.sidebarWidgetSocial, .sidebarWidgetNews {
    margin-bottom: 20px;
    background-color: $white-color;
    -webkit-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.15);
    -ms-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.15);
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.15);
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}

.sidebarSocial {
    padding: 0 15px;
    //margin: -10px 0 0 -15px;
    //width: calc(100% + 30px);
	.facebook {
		background: #4c66a4;
	}
	.pinterest {
		background: #BD081B;
	}
	.instagram {
		background: #6A42BF;
	}
	li {
		margin-bottom: 20px;
	    height: 45px;
	    overflow: hidden;
	    a {
	    	color: #fff;
	        display: block;
    		overflow: hidden;
	    	.social-icon {
	    		float: left;
    		    line-height: 45px;
			    font-size: 24px;
			    color: #fff;
			    padding: 0 16px;
			    width: 55px;
    			text-align: center;
	    	}
	    	.data {
	    		.counter {
	    			font-size: 18px;
				    line-height: 1;
				    float: left;
				    color: #fff;
				    padding: 0 16px;
				    margin: 13px 0;
				    border-left: 1px solid #ccc;
	    		}
	    		.text {
	    			font-size: 12px;
				    text-transform: uppercase;
				    float: right;
				    color: #fff;
				    line-height: 45px;
				    padding: 0 16px;
	    		}
	    	}
	    }
	}
}

//== Flexslider
.flexslider {
	margin: 0;
	border: none;
	.flex-direction-nav a {
		text-decoration: none;
	}
	.flex-direction-nav a:before {
		font-family: 'FontAwesome'!important;
		content: '';
	}
	.flex-prev {
		font-family: 'FontAwesome'!important;
	}
	.flex-prev:before,
	.flex-next:before {
		background: rgba(0,0,0,0.75);
		color: #fff;
		display: block;
		width: 40px;
		height: 40px;
		text-align: center;
		font-size: 25px;
		line-height: 40px;
	}
	.flex-prev:before {
		content: "\f104"!important;
	}
	.flex-next {
		font-family: 'FontAwesome'!important;
	}
	.flex-next:before {
		content: "\f105"!important;
	}
}


//== Google map on posts
.acf-map {
	width: 100%;
	height: 200px;
	border: #ccc solid 1px;
	margin: 20px 0;

}

/* fixes potential theme css conflict */
.acf-map img {
	max-width: inherit !important;
}

#hidden-content {
    /* Custom styling */
    max-width: 100%;
    padding: 10px 30px 30px 30px;
    border-radius: 4px;

    /* Custom transition - fade from top*/
    opacity: 0;
    transform: translateY(-50px);
    transition: all .3s;
}

.fancybox-slide--complete #hidden-content {
    opacity: 1;
    transform: translateY(0);
}
