/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$font-family-base: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
$font-size-base: 140%;
$line-height-base: 1.5;


/**
 * Colors
 */

$text-color: #444;
$body-bg: #fff;
$selection-bg: #04A4CC;


//## Grey colors

$grey: #BBBBBB !default;

$grey-light: #E2E2E2 !default;
$grey-lighter: #F1F1F1 !default;
$grey-lightest: #F9F9F9 !default;

$grey-dark: #888888 !default;
$grey-darker: #666666 !default;
$grey-darkest: #333333 !default;

//## Blue color

$blue: #41A3CC !default;

$blue-light: #54B2D3 !default;
$blue-lighter: #63C1DB !default;

$blue-dark: #2B8EAD !default;
$blue-darker: #238096 !default;


/**
 * Grid
 */

$wrapper-width: 1280px;


$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 15px;
$margin-vertical-large: 15px;